div a img {
  max-width: 100% !important;
  height: auto !important;
  object-fit: contain;
  border-radius: 0.375rem;
  overflow: hidden;
  transition: transform 0.3s; 
}

div a img:hover {
  transform: scale(1.05) !important;
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

a img[src*="git"] {
  width: 34px;
  height: 34px;
  background: white;
  border-radius: 50%;
}

